In [4]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

tickets = pd.read_csv('../../data/tickets_all.csv')
print("Missing tickets data: ", tickets.isnull().sum(), "out of", len(tickets), "\n")
print("Keeping only relevant columns...")

display(tickets[tickets['price.level'] == 'Adult'])
tickets = tickets[['account.id', 'price.level', 'no.seats', 'season']]

print("Dropping rows with missing data...")
print("Initial length of tickets: ", len(tickets))
tickets = tickets.dropna()


label_encoder = LabelEncoder()
tickets['price.level'] = label_encoder.fit_transform(tickets['price.level'])

# Analyse the data for cleaninness
tickets.info()
tickets.describe()

Missing tickets data:  account.id             0
price.level          208
no.seats               0
marketing.source    2224
season                 0
location              44
set                   22
multiple.tickets       0
dtype: int64 out of 2808

Keeping only relevant columns...

,account.id,price.level,no.seats,marketing.source,season,location,set,multiple.tickets
147,001i000000NuRFk,Adult,6,NaN,2012-2013,Family concert,5.0,yes
222,001i000000NuRQU,Adult,4,NaN,2012-2013,Family concert,5.0,yes
915,001i000000NuNUh,Adult,4,NaN,2012-2013,Family concert,5.0,yes
1048,001i000000NuRQb,Adult,8,NaN,2012-2013,Family concert,5.0,yes
1216,001i000000NuRGN,Adult,6,NaN,2012-2013,Family concert,5.0,yes
1305,001i000000NuOpV,Adult,14,NaN,2012-2013,Family concert,5.0,yes
1468,001i000000NuQws,Adult,2,NaN,2012-2013,Family concert,5.0,no
1553,001i000000NuRFj,Adult,8,NaN,2012-2013,Family concert,5.0,yes
1607,001i000000NuRGO,Adult,8,NaN,2012-2013,Family concert,5.0,yes
1641,001i000000NuQNI,Adult,4,NaN,2012-2013,Family concert,5.0,yes
2073,001i000000LhydI,Adult,4,NaN,2012-2013,Family concert,5.0,yes
2410,001i000000NuRNm,Adult,10,NaN,2012-2013,Family concert,5.0,yes
2607,001i000000NuRG1,Adult,2,NaN,2012-2013,Family concert,5.0,no
2653,001i000000LhyPd,Adult,12,NaN,2012-2013,Family concert,5.0,yes

Dropping rows with missing data...
Initial length of tickets:  2808
<class 'pandas.core.frame.DataFrame'>
Index: 2600 entries, 0 to 2806
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   account.id   2600 non-null   object
 1   price.level  2600 non-null   int64
 2   no.seats     2600 non-null   int64
 3   season       2600 non-null   object
dtypes: int64(2), object(2)
memory usage: 101.6+ KB

       price.level     no.seats
count  2600.000000  2600.000000
mean      2.891538     2.038077
std       1.261410     1.616007
min       0.000000     1.000000
25%       2.000000     1.000000
50%       3.000000     2.000000
75%       4.000000     2.000000
max       8.000000    34.000000