In [35]:
import pandas as pd

zipcodes = pd.read_csv('../../data/zipcodes.csv')
accounts = pd.read_csv('../../data/account.csv')
train = pd.read_csv('../../data/train.csv')
test = pd.read_csv('../../data/test.csv')

In [36]:
# Analyze missing data in zipcodes
zipcodes.isnull().sum()
zipcodes.dropna(inplace=True)

zipcodes['Zipcode'] = zipcodes['Zipcode'].astype(str)

allzipcodes = zipcodes['Zipcode']
account_zipcodes = accounts['billing.zip.code']

# how many zipcodes are in accounts but not in zipcodes
len(set(account_zipcodes) - set(allzipcodes))

# Merge train and accounts on account number
train = pd.merge(train, accounts, on='account.id', how='left')

# Merge train and zipcodes on zipcode
train = pd.merge(train, zipcodes, left_on='billing.zip.code', right_on='Zipcode', how='left')
train = train[['billing.zip.code', 'account.id', 'TotalWages']]

display(train.head())

,account.id,label,shipping.zip.code,billing.zip.code,shipping.city,billing.city,relationship,amount.donated.2013,amount.donated.lifetime,no.donations.lifetime,...,City,State,LocationType,Lat,Long,Location,Decommisioned,TaxReturnsFiled,EstimatedPopulation,TotalWages
0,001i000000NuRo3,0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,001i000000NuRxd,0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,001i000000NuQGN,0,NaN,94597,NaN,Walnut Creek,NaN,0.0,0.0,0,...,WALNUT CREEK,CA,PRIMARY,37.91,-122.07,NA-US-CA-WALNUT CREEK,False,10755.0,16977.0,6.592431e+08
3,001i000000NuPfL,0,NaN,94005,NaN,Brisbane,NaN,0.0,0.0,0,...,BRISBANE,CA,PRIMARY,37.68,-122.41,NA-US-CA-BRISBANE,False,2641.0,4345.0,1.997331e+08
4,001i000000NuQkP,0,NaN,94610,NaN,Oakland,NaN,0.0,0.0,0,...,OAKLAND,CA,PRIMARY,37.81,-122.24,NA-US-CA-OAKLAND,False,16601.0,24162.0,1.004840e+09